<h1>Welcome!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% if user_signed_in? %>
    <ul>
        <li>
            <%= link_to "Manage Users", users_path %>
        </li>
    </ul>
<% else %>
    <p>You must login before you can use this app.</p>
    <p><%= link_to "Login", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %></p>
<% end %>